# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\proyectos_sfinx\JAL\monitor_secure_module_2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
